
body {
    background-color: rgb(82, 209, 184);
    color: rgb(169, 64, 64);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #a44fa8;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}